@use "tailwindcss" as *;
@use '@assets/styles/_theme.scss' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: $secondary-text-color;
  background-color: $body-bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
