$primary-color: #00c8b3;
$secondary-text-color: #333333;

$input-default-border: #efeeed;
$input-placeholder-border: #efeeed;
$input-text: #333333;
$input-focus-border: #333333;

$input-invalid-color: #eb4a46;

$button-enabled-text-color: #ffffff;
$button-enabled-bg-color: #00c8b3;
$button-disabled-text-color: #dddcdc;
$button-disabled-bg-color: #f6f6f6;